* {
  background-color: black;
  font-family: monospace;
  text-shadow: 3px 3px 10px;
  color: rgb(24, 197, 24);
}
/* home page css */
header {
  border-bottom: 4px solid;
  box-shadow: 3px 3px 10px;
}

h1 {
  font-size: 50px;
  padding-left: 20px;
}

#head-des {
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
  padding-left: 130px;
  padding-bottom: 20px;
}

#main-nav {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-right: 82%;
  margin-left: 20px;
}

#main-nav a {
  text-decoration: none;
  border-left: 4px solid;
  border-bottom: 4px solid;
  padding: 8px;
  box-shadow: 3px 3px 10px;
}

#main-img {
  position: absolute;
  border-left: 6px solid;
  border-bottom: 6px solid;
  width: 750px;
  height: 400px;
  margin-left: 30%;
  margin-top: -28%;
  box-shadow: 2px 5px 10px;
}

.site-bio {
  position: absolute;
  left: 45.5%;
  bottom: 67%;
}

h3 {
  font-size: 25px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  padding: 8px;
  box-shadow: 3px 3px 10px;
}

.bio-text {
  position: absolute;
  left: 34%;
  bottom: 60%;
}

#about-text {
  font-size: 15px;
  text-align: center;
}

footer {
  text-align: center;
  box-shadow: 3px 3px 10px;
}

footer p {
  font-size: 15px;
}
/* About page CSS */

.bio-page {
    border-left: 4px solid;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}

#bio-head {
    font-size: 90px;
    padding-top: 20px;
}